@model FeedViewModel

@helper GetImage(string url, string title, int width, int height)
{
    <img src="@url" alt="da photo" width="@width" height="@height" title="@title"/>
}

@helper GetSourceImageByType(string type)
{
    
}

@{
    ViewBag.Title = "Stories";
}
<h2>Feed</h2>

@foreach (var item in Model.FeedItems)
{
        <table style="border-bottom: 1px solid silver; width: 100%;">
            <tr><td style="width: 200px;"><div class="img" style="margin-left: 50px;">@GetImage(item.PhotoUrl, item.UserName, 80, 80)</div></td><td style="vertical-align:top"><h2>@item.Title</h2>
            <div>@item.Summary</div>
            </td></tr>
            <tr ><td style="width: 200px;"><div class="img">@GetImage(GetSourceIconUrl(item.Source), item.Source, 28, 28)</div><h2><a href="">@item.UserName</a></h2><h3>@item.PubDate</h3></td><td></td></tr>
        </table>
@*    <li>
    <span>@item.PubDate</span><span style="font-weight:bold">@item.UserName [@item.Source]</span><span>@item.Title</span>
    </li>*@
}

@functions {

    public string GetSourceIconUrl(string source)
    {
        
        switch (@source.ToUpper())
        {
            case "TWITTER":
                return "../../Content/Styles/images/twitter.png";
            case "FACEBOOK":
                return "../../Content/Styles/images/facebook.png";
            case "BLOG":
                return "../../Content/Styles/images/blogger.png";
            default:
                return string.Empty;
        }
    }

}