@model FeedViewModel

@helper GetImage(string url, string title, int width, int height)
{
    <img src="@url" alt="da photo" width="@width" height="@height" title="@title"/>
}

@helper GetSourceImageByType(string type)
{
    
}

@{
    ViewBag.Title = "Stories";
}

<div class="topBanner"></div>
<div id="hide"><img src="../../Content/Styles/images/backgroundLeft.jpg" alt=""/></div>
<div id="navigation-block"> 
        <ul id="sliding-navigation">  
        <li class="sliding-element"><h3>Politicý klub</h3></li>  
        <li class="sliding-element">@Html.ActionLink("SDKU", "Index", new{@id="sdku"})</li>  
        <li class="sliding-element">@Html.ActionLink("SMER", "Index", new{@id="smer"})</li>  
        <li class="sliding-element">@Html.ActionLink("SAS", "Index", new{@id="sas"})</li>  
        <li class="sliding-element">@Html.ActionLink("SNS", "Index", new{@id="sns"})</li>  
        <li class="sliding-element">@Html.ActionLink("KDH", "Index", new{@id="kdh"})</li>  
        <li class="sliding-element">@Html.ActionLink("HZDS", "Index", new{@id="hzds"})</li>  
    </ul> 
</div>

<div id="main">
    @foreach (var item in Model.FeedItems)
    {
            <table>
                <tr>
                    <td style="width: 100px;"><div class="img"  style="margin-left: 50px;">@GetImage(item.PhotoUrl, item.UserName, 80, 80)</div></td>
                    <td style="vertical-align:top; width: 100%;">
                        <div class="img">@GetImage(GetSourceIconUrl(item.Source), item.Source, 28, 28)</div>
                        <div>@Html.ActionLink(@item.UserName, "Index", new { @id = @item.UserId }, new { @class = "UserName" })
                        <text> / </text><span style="color:#808080;">@item.PubDate</span></div>
                        <span class="itemTitle"><a href="@item.Url">@item.Title</a></span>                        
                       
                        <div class="itemSummary">@Html.Raw(item.Summary)</div>
                        @foreach(var tag in item.Tags)
                        {
                            @Html.ActionLink("#"+@tag, "Index", new{@id=tag}, new{@class="tag"})
                        }
                    </td>
                </tr>
                
            </table>
        <div class="itemSeparator"></div>
    }
</div>


@functions {

    public string GetSourceIconUrl(string source)
    {
        
        switch (@source.ToUpper())
        {
            case "TWITTER":
                return "../../Content/Styles/images/twitter.png";
            case "FACEBOOK":
                return "../../Content/Styles/images/facebook.png";
            case "BLOG":
                return "../../Content/Styles/images/blogger.png";
            default:
                return string.Empty;
        }
    }

}